
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDA Project</title>
</head>
<body>
    <h1> EDA - PROJECT</h1>

    <button type="button" onclick="location.href='/head/'"
      class="btn btn-secondary btn-lg btn-block"> 
        데이터 탐색하기</button>
    <button type="button" onclick="location.href='/see/'"> 
        가설 설정 </button>
    <button type="button" onclick="location.href='/result1/'"> 
        데이터 시각화 및 분석 </button>
    <button type="button" onclick="location.href='/result2/'"> 
        데이터 시각화 및 분석 2</button>
    {% load static %}

</body>
</html>